<div *ngIf="loaded">
  <mat-form-field appearance="fill" class="custom-mat-form-field">
    <mat-label>Genre</mat-label>
    <mat-select (selectionChange)="genreChanged($event.value)" [(value)]="selectedCategory">
      <mat-option *ngFor="let category of categories[mediaCategory]" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="loaded" [ngClass]="{'loading': loading}" class="media-list-container" stickyHeaderDirective
  style="overflow: auto; max-height: 100%;" (appScrollToEnd)="scrollToEnd()" [attr.media-category]="mediaCategory">

  <app-media-list-item *ngFor="let media of mediaItems" [media]="media" [mediaCategory]="mediaCategory">
  </app-media-list-item>
</div>
