<mat-drawer-container class="custom-mat-drawer-container" autosize>
  <mat-drawer #drawer class="custom-mat-drawwer" mode="over" position="end" opened="{{drawerOpened}}">
      <div *ngIf="!user">
        <p>Please log in</p>
        <app-google-oauth></app-google-oauth>
        <app-school-oauth></app-school-oauth>
      </div>
      <div *ngIf="user">
        <p>You are logged in using {{user.AccountType}}</p>
        <div *ngIf="user.AccountType == 'Google'">
            <app-google-account></app-google-account>
            Google User
        </div>
      </div>
  </mat-drawer>
  <app-media-categories></app-media-categories>
</mat-drawer-container>
