<div class="center">
    <div>
        <h1>You need a username to continue</h1>
    </div>
</div>
<div class="example-container center">
    <mat-form-field appearance="legacy">
      <mat-label>Username</mat-label>
      <input [attr.disabled]="busy ? '' : null" matInput placeholder="Username" (input)="usernameInputChanged()" [(ngModel)]="usernameInput">
      <mat-hint class="username-error" *ngIf="usernameError">{{usernameError}}</mat-hint>
    </mat-form-field>
    
  </div>
<div class="center">
  <button [disabled]="busy || usernameError.length > 0" (click)="checkUsername()" mat-flat-button color="primary">Set username</button>
</div>