img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.media-title {
    margin: 5px;
}

h1 {
    color:white;
}

.media-infos-min {
    font-style: italic;
    color:white;
    margin: 5px;
}
