<div width="250px">
    <mat-card class="custom-mat-card">
        <div class="custom-title">
            {{languageService.getTranslation('Your profile')}}
        </div>
        <hr style="width: 80%" >
        <div style="display:inline">
            <div >
                <img width="13px" src="/assets/google.svg">
            </div>
            {{languageService.getTranslation('Hello')}} <div style="display:inline; font-weight: bold;"> {{account.first_name}}</div>
        </div>
        <br ><br >
        <form class="example-form">
            <mat-form-field class="example-full-width">
            <mat-label>{{languageService.getTranslation('Email')}}</mat-label>
            <input class="custom-disabled-color" disabled matInput placeholder="email@mail.com" value="{{account.email}}">
            </mat-form-field>
        
            <mat-form-field class="example-full-width">
            <mat-label>{{languageService.getTranslation('Username')}}</mat-label>
            <input class="custom-disabled-color" disabled matInput placeholder="mypsoeudo" value="{{account.username}}">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>{{languageService.getTranslation('Last Name')}}</mat-label>
                <input class="custom-disabled-color" disabled matInput placeholder="Lastname" value="{{account.last_name}}">
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <mat-label>{{languageService.getTranslation('First Name')}}</mat-label>
                <input class="custom-disabled-color" disabled matInput placeholder="Firstname" value="{{account.first_name}}">
            </mat-form-field>

<!--            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input disabled matInput placeholder="password" value="">
            </mat-form-field>
        -->
            <mat-form-field appearance="fill">
                <mat-label>{{languageService.getTranslation('Prefered Language')}}</mat-label>
                <mat-select (selectionChange)="languageChanged($event.value)" [(value)]="dselected">
                  <mat-option *ngFor="let language of availableLanguages" class="custom-mat-option" [value]="language">{{language}}</mat-option>
                </mat-select>
              </mat-form-field>
        </form>
        <button style="margin: auto; display: flex;" (click)="logout()" mat-flat-button color="primary">{{languageService.getTranslation('Logout')}}</button>
    </mat-card>
    <mat-card style="background-color: #131212;">
        <div class="custom-title">
            {{languageService.getTranslation('You did see')}}
        </div>
        <hr style="width:80%">
        <div style="overflow-y:auto; height: 275px;">
            <div  class="centered">
                <mat-spinner *ngIf="loadHistory"></mat-spinner>
            </div>
            <mat-grid-list *ngIf="!loadHistory" cols="1" rowHeight="2:1">
                <mat-grid-tile *ngFor="let h of history" style="background-image: url({{h.Data.images.fanart}}); background-size: cover; background-position: center; cursor: pointer;" (click)="historyItemClicked(h)">
                    <h3 style="color: white; text-shadow: 1px 1px 5px black;">
                        {{h.Data.title}}
                    </h3>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-card>
</div>